{% extends 'base.html.twig' %}

{% block title %}Le Carrée de la mode | Catalogue{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/catalogue.css') }}" />
{% endblock %}

{% block body %}
<main id="catalogue">
    <div class="top-catalogue">

    </div>

</main>
{% endblock %}
